# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Ignore vs files
.vs/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore html files
.html/

# Ignore latex files
.latex/

# Ignore temp files
.tmp/

# Ignore ~
.~*

# Ignore binaries
**/bin

# Ignore build files
**/build
